@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,700;0,800;1,700;1,800&display=swap');


.card-container {
    background-color: rgba(255, 243, 72, 0.75);
    width: 20rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.1);
    opacity: .4;
}

.card-container:hover {
    opacity: 1;
    box-shadow: 0 0 0 8px rgba(255, 0, 0, 0.2);
}

.image-container {
    display: flex;
    margin: 0;
    object-fit: cover;
    height: 25vh;
    border-radius: 10px 10px 0px 0px;
}

.card-title {
    font-size: 1.5rem;
    margin-left: .5rem;
    margin-block-start: 1vh;
    margin-block-end: 1vh;
}

.body-text {
    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: 1rem;
    overflow-y: auto;
    font-size: 1rem;
    font-weight: 600;
    height: 17vh;
}